@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent: #590401;
    --color-bg-primary: #fefff5;
    --color-text-color: #000000bd;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: initial;
}

/* Базовые настройки (Mobile: < 640px) */
html {
  font-size: 14px; /* Чуть меньше для узких экранов */
}

/* Tablet (от 640px до 767px) */
@media (min-width: 640px) {
  html {
    font-size: 15px;
  }
}

/* Desktop (от 768px до 1023px) */
@media (min-width: 768px) {
  html {
    font-size: 16px; /* Стандарт */
  }
}

/* Large Desktop (от 1024px) */
@media (min-width: 1024px) {
  html {
    font-size: 18px; /* Увеличиваем для комфортного чтения на больших мониторах */
  }
}
